/* app/components/Sidebar.module.css */
.sidebar {
    width: 250px;
    background-color: #e0e7ff;
    color: #4f46e5;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    border-right: 1px solid #c7d2fe;
  }
  
  .hidden {
    transform: translateX(-100%);
  }
  
  .link {
    display: block;
    margin-bottom: 1rem;
    color: #4f46e5;
    text-decoration: none;
    font-weight: 500;
  }
  
  .link:hover {
    color: #4338ca;
  }
  